---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
---

<Layout>
  <main
    class="relative flex flex-col items-center py-20 min-h-screen gap-3 transition-colors duration-300"
  >
    <Hero>
      <p
        class="text-center max-w-xl mb-6 text-gray-700 dark:text-gray-300 z-10"
      >
        I love working with networking, cloud infrastructure, and running
        applications for myself.
      </p>
    </Hero>
    <blockquote
      class="text-xl md:text-2xl italic text-center text-gray-700 dark:text-gray-300 max-w-2xl mb-10 z-10 transition-colors duration-300 bg-white/10 backdrop-blur-md shadow-lg px-4 py-2 rounded-md"
    >
      "The Web as I envisaged it, we have not seen it yet. The future is still
      so much bigger than the past."
      <br />
      <span
        class="block mt-4 text-lg font-semibold text-gray-500 dark:text-gray-400 transition-colors duration-300"
      >
        - Tim Berners-Lee
      </span>
    </blockquote>
    <div class="flex flex-col items-center justify-center gap-8 z-10 w-full">
      <div
        class="flex flex-col md:flex-row items-center justify-center gap-8 w-[80%] max-w-4xl"
      >
        <img
          width="46.45%"
          src="https://stats.alphaspiderman.dev/github/stats?show_icons=true&theme=dark&hide_border=true&hide=stars"
          alt="GitHub Stats"
          class="rounded-lg shadow-md"
          loading="lazy"
        />
        <img
          width="52.55%"
          src="https://stats.alphaspiderman.dev/github/streak?theme=dark&hide_border=true"
          alt="GitHub Streak Stats"
          class="rounded-lg shadow-md"
          loading="lazy"
        />
      </div>
      <img
        src="https://github-readme-stats.vercel.app/api/top-langs/?username=Alphaspiderman&theme=dark&show_icons=true&hide_border=true&layout=donut&langs_count=10&size_weight=0.2&count_weight=0.8"
        alt="Top Languages"
        class="rounded-lg shadow-md max-w-lg w-full md:w-[24rem] mt-8"
        loading="lazy"
      />
    </div>
  </main>
</Layout>
