---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main class="relative flex flex-col items-center py-20 min-h-screen gap-3">
    <img
      src="/assets/bg-light.png"
      alt="Background"
      class="absolute inset-0 w-full h-full object-cover -z-10"
    />
    <img
      src="/assets/profile-picture.png"
      alt="Profile"
      class="w-32 h-32 rounded-full mb-8 shadow-lg object-cover z-10"
    />
    <div class="p-8 max-w-xl w-full z-10 mb-8">
      <h2 class="text-2xl font-bold mb-4 text-gray-800">Who am I?</h2>
      <p class="text-gray-700 text-lg">
        I love working with networking, cloud infrastructure, and running
        applications for myself.
      </p>
    </div>
    <blockquote
      class="text-xl md:text-2xl italic text-center text-gray-700 max-w-2xl mb-10 z-10"
    >
      "The Web as I envisaged it, we have not seen it yet. The future is still
      so much bigger than the past."
      <br />
      <span class="block mt-4 text-lg font-semibold text-gray-500">
        - Tim Berners-Lee
      </span>
    </blockquote>
    <div class="flex flex-col items-center justify-center gap-8 z-10 w-full">
      <div
        class="flex flex-col md:flex-row items-center justify-center gap-8 w-full"
      >
        <img
          src="https://github-readme-stats.vercel.app/api?username=Alphaspiderman&show_icons=true&theme=dark&hide_border=true&hide=stars"
          alt="GitHub Stats"
          class="rounded-lg shadow-md max-w-lg w-full md:w-[32rem]"
          loading="lazy"
        />
        <img
          src="https://nirzak-streak-stats.vercel.app/?user=Alphaspiderman&theme=dark&hide_border=true"
          alt="GitHub Streak Stats"
          class="rounded-lg shadow-md max-w-lg w-full md:w-[32rem]"
          loading="lazy"
        />
      </div>
      <img
        src="https://github-readme-stats.vercel.app/api/top-langs/?username=Alphaspiderman&theme=dark&show_icons=true&hide_border=true&layout=donut&langs_count=10&size_weight=0.2&count_weight=0.8"
        alt="Top Languages"
        class="rounded-lg shadow-md max-w-lg w-full md:w-[24rem] mt-8"
        loading="lazy"
      />
    </div>
  </main>
  <Footer />
</Layout>
