---
import Stats from "@/components/Stats.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
---

<Layout>
  <main
    class="relative flex flex-col items-center py-20 min-h-screen gap-3 transition-colors duration-300"
  >
    <Hero>
      <p
        class="text-center max-w-xl mb-6 text-gray-700 dark:text-gray-300 z-10"
      >
        I love working with networking, cloud infrastructure, and running
        applications for myself.
      </p>
    </Hero>
    <blockquote
      class="text-xl md:text-2xl italic text-center text-gray-700 dark:text-gray-300 max-w-2xl mb-10 z-10 transition-colors duration-300 bg-white/10 backdrop-blur-md shadow-lg px-4 py-2 rounded-md"
    >
      "The Web as I envisaged it, we have not seen it yet. The future is still
      so much bigger than the past."
      <br />
      <span
        class="block mt-4 text-lg font-semibold text-gray-500 dark:text-gray-400 transition-colors duration-300"
      >
        - Tim Berners-Lee
      </span>
    </blockquote>
    <Stats />
  </main>
</Layout>
