---
const config = {
  image: "/assets/profile-picture.png",
  name: "Alphaspiderman",
  role: "Developer & SysAdmin",
  bg: "/assets/bg-light.png",
  bgDark: "/assets/bg-dark.png",
};
---

<div class="relative flex flex-col items-center py-12 mb-4">
  <img
    src={config.image}
    alt="Profile"
    class="w-32 h-32 rounded-full mb-6 shadow-lg object-cover z-10 border-4 border-white dark:border-gray-800"
    width={128}
    height={128}
    loading="eager"
  />
  {
    config.name && (
      <h1 class="text-4xl font-bold mb-2 z-10 text-gray-900 dark:text-white">
        {config.name}
      </h1>
    )
  }
  {
    config.role && (
      <h2 class="text-xl text-gray-600 dark:text-gray-300 mb-4 z-10">
        {config.role}
      </h2>
    )
  }
  <slot />
</div>
