---
import ProjectsClient from "@/components/ProjectsClient";
import projectData from "@/lib/projects";
---

<section class="max-w-3xl mx-auto mb-12">
  <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-100">
    Projects
  </h2>
  <p class="max-w-xl mb-6 text-gray-900 dark:text-gray-100 z-10">
    Click on any project to see more details.
  </p>
  <div class="space-y-8">
    <ProjectsClient client:idle projects={projectData} />
  </div>
</section>
